#account {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  min-width: 800px;
}

#student {
  width: 100%;
}

.section {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: #c7c1c1 0px 0.5px 8px;
  border-radius: 5px;
}

#studentInfo {
  justify-content: space-between;
}

#col {
  width: 30%;
}

Form {
  background-color: pink;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

p {
  padding-bottom: 1rem;
}

#sectionHeading {
  font-size: 26px;
  font-family: "Raleway";
  width: 100%;
}

#infoHeading,
.form-label {
  font-size: 18px;
  font-weight: 450;
}
