#root {
  background-color: #f5f1ed;
  padding: 2rem;
  min-height: 600px;
  min-width: 900px;
  width: auto;
  font-family: "Roboto", "Raleway";
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

body {
  padding-top: 60px;
  padding-left: 180px;
}

@media (max-width: 979px) {
  body {
    padding-top: 55px;
    padding-left: 180px;
  }
}
