#topContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aaa3a3;
}

#wordLogo {
  padding-left: 1rem;
}

#rightmostLinks {
  font-family: "Raleway";
  text-decoration: none;
}

#iconsTop {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

#iconLink:hover {
  border-bottom: solid 2px #f68b1f;
}

#signOut,
#reportProblem {
  text-decoration: none;
  color: #333333;
  text-align: center;
}

#signOut:hover,
#reportProblem:hover {
  text-decoration: none;
  color: #333333;
  color: #456990;
  border-bottom: solid 2px #f68b1f;
}
